@import url('https://fonts.googleapis.com/css?family=Poppins|Rozha+One');

body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-family: 'Rozha One', serif;
}

button {
	cursor: pointer;
	width: 200px;
	height: 50px;
	font-size: 24px;
	background-color: red;
}

