{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "react"
  ],
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "indent": [2, 2]
  },
  "plugins": [
    "html", 
    "markdown", 
    "react"
  ]
}